#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* App.css */
.background {
  position: fixed;  /* Fix it to the background */
  top: 0;
  left: 0;
  width: 100%;  /* Take the full width of the screen */
  height: 100vh;  /* Take the full height of the viewport */
  object-fit: cover; /* Ensures the image covers the screen without stretching */
  z-index: -1;  /* Ensure it stays behind other content */
}

.logo {
  width: 50px; 
  height: auto; 
}

.nav {
  display: flex;               
  justify-content: space-between; 
  align-items: center;          
             
  background-color: #323338;      
  color: white;               
  position: fixed;           
  width: 100%;                  
  top: 0;     
    
  left: 0;                   
}

.left, .right {
  padding: 2px;
  cursor: pointer;
}

.left {
  text-align: left; 
}

.right {
  text-align: right; 
  display: flex;
  
  justify-content: flex-end;
}
.right a {
 
  color: rgb(255, 255, 255);           /* White text color */
  padding: 10px;          /* Add some padding for spacing around text */
  font-size: 16px;
          /* Set a reasonable font size */
}
a:hover {
  color: rgb(154, 231, 173);
}
.route{
   display: flex;
   
}
